/* ==================================================================
Base Styles
=====================================================================*/

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html
{
  position: relative;
  min-height: 100%;
}
body {
	font-size: $base_font-size;
	line-height: ($base__line / $base_font-size);
	font-family: $font-family--primary;
	height: 100%;
}
header {
	text-align: center;
	//padding: rem(48px) 0; 
}
h1 {
	font-weight: $font-weight--light;
	//font-size rem(42px);
	line-height: (46px / 42px);
	//margin-bottom: rem(70px, 42px);
}
h2 {
	font-family: $font-family--secondary;
	font-weight: $font-weight--thin;
	//font-size: rem(24px);
}
a {
	text-decoration: none;
}
a:hover {
	color: $color_accent;
}