@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

// Utilities
@import "_config";
@import "_base";
@import "_utilities";


/* ==================================================================
LAYOUT
=====================================================================*/
.container
{
	width: 1024px !important; //No responsive
}


/* ==================================================================
HEADER
=====================================================================*/
header ul {
	list-style: none;
}
header ul li {
	float: right;
}
header ul li a {
	color: $white;
	font-size: em(10px);
}
header .top_header {
	background: $color_secondary;
	height: 23px;
}
header .main_header {
	background: $color_primary;
	box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.43);
	margin-bottom: 10px;
	height: 100px;
}
.social_nav li {
	margin-left: 5px;
}
.social_nav li a{
	height: 20px;
	float: left;
	margin-left: 5px;
	background-size: 42px;
}
.facebook_small a {
	background: url($socialicons_small) no-repeat left center;
	width: 8px;
}
.twitter_small a {
	background: url($socialicons_small) no-repeat -9px center;
	width: 16px;
}
.linkedin_small a {
	background: url($socialicons_small) no-repeat center right;
	width: 16px;
}
.logo {
	background: url($brand_logo) no-repeat left center;
	width: 100px;
	height: 107px;
	display: inline-block;
	background-size: 100px;
}
.container_main_nav li {
	margin: 0 -1px;
	width: 90px;
}
.container_main_nav li a {
	text-decoration: none;
}
.container_main_nav li a:hover,
.container_main_nav li a:active
{
	color: $white;
}
.container_main_nav li .container_nav_txt {
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}
.container_main_nav li .container_nav_txt span{
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}
span.nav1,
span.nav2,
span.nav3,
span.nav4,
span.nav5,
span.nav6,
span.nav7,
span.nav8,
{
	width: 57px;
	height: 57px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-bottom: 3px;
	border: solid 2px $color_secondary;
	transition: all 0.5s ease;
}
span.nav1
{
	background: url($main_nav1) no-repeat center $white;
}
span.nav2
{
	background: url($main_nav2) no-repeat center $white;
}
span.nav3
{
	background: url($main_nav3) no-repeat center $white;
}
span.nav4
{
	background: url($main_nav4) no-repeat center $white;
}
span.nav5
{
	background: url($main_nav5) no-repeat center $white;
}
span.nav6
{
	background: url($main_nav6) no-repeat center $white;
}
span.nav7
{
	background: url($main_nav7) no-repeat center $white;
}
span.nav8
{
	background: url($main_nav8) no-repeat center $white;
}
li:hover span.nav1,
li.active span.nav1
{
	background: url($main_nav1_over) no-repeat center $white;
}
li:hover span.nav2,
li.active span.nav2
{
	background: url($main_nav2_over) no-repeat center $white;
}
li:hover span.nav3,
li.active span.nav3
{
	background: url($main_nav3_over) no-repeat center $white;
}
li:hover span.nav4,
li.active span.nav4
{
	background: url($main_nav4_over) no-repeat center $white;
}
li:hover span.nav5,
li.active span.nav5
{
	background: url($main_nav5_over) no-repeat center $white;
}
li:hover span.nav6,
li.active span.nav6
{
	background: url($main_nav6_over) no-repeat center $white;
}
li:hover span.nav7,
li.active span.nav7
{
	background: url($main_nav7_over) no-repeat center $white;
}
li:hover span.nav8,
li.active span.nav8
{
	background: url($main_nav8_over) no-repeat center $white;
}


/* ==================================================================
FOOTER
=====================================================================*/
footer {
	box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 120px;
	background: $color_primary;
	overflow: hidden;
	font-size: em(14px);
	color: $white;
}
footer .container
{
	padding: 15px;
}
footer a {
	color: $white;
	text-decoration: none;
}
footer ul
{
	list-style: none;
}
footer ul li {
	font-size: em(14px);
}
footer ul.container_info {
	height: 70px;
	padding-left: 0;
}
footer ul.container_bottom_nav
{
	padding-left: 0;
}
footer ul.container_bottom_nav li
{
	float: right;
	margin-left: 5px;
	font-weight: bold;
	font-size: em(13px);
}
footer ul.container_bottom_nav li a
{
	text-decoration: none;
}
footer .container_credits
{
	font-size: em(11px);
}
footer .container_credits a
{
	text-decoration: none;
}



/* ==================================================================
Index Styles
=====================================================================*/


.container_slider
{
	width: 100%;
	height: 530px;
	color: $black;
	position: relative;
	display: block;
}
.container_slider::after {
	content: "";
	background: url($green_squares) repeat left top;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}
.container_testimonials
{
	width: 100%;
	height: 200px;
	background: url($white_elegance) repeat left top;
	color: $black;
}

//Slider Controls
#main_courses_slider .owl-controls .owl-dots
{
	height: 50px;
	overflow: hidden;
	text-align: center;
	margin-top: 40px;
}
#main_courses_slider .owl-controls .owl-dots .owl-dot
{
	width: 110px;
	display: inline-block;
	margin-right: 45px;
}
#main_courses_slider .owl-controls .owl-dots .owl-dot span
{
	width: 100%;
	height: 10px;
	float: left;
	background: $color_primary;
}
#main_courses_slider .owl-controls .owl-dots .owl-dot p
{
	color: $color_primary;
	height: 20px;
	margin: 0;
	font-size: em(12px);
	font-weight: bold;
}
#main_courses_slider .owl-dots  #slide1:hover span,
#main_courses_slider .owl-dots  #slide1.active span,
{
	background: $black;
}
#main_courses_slider .owl-dots  #slide2:hover span,
#main_courses_slider .owl-dots  #slide2.active span,
{
	background: $product_basico;
}
#main_courses_slider .owl-dots  #slide3:hover span,
#main_courses_slider .owl-dots  #slide3.active span,
{
	background: $product_graficas;
}
#main_courses_slider .owl-dots  #slide4:hover span,
#main_courses_slider .owl-dots  #slide4.active span,
{
	background: $product_tablas;
}
#main_courses_slider .owl-dots  #slide5:hover span,
#main_courses_slider .owl-dots  #slide5.active span,
{
	background: $product_macros;
}
#main_courses_slider .owl-dots  #slide1:hover p,
#main_courses_slider .owl-dots  #slide1.active p
{
	color: $color_accent;
}
#main_courses_slider .owl-dots  #slide2:hover p,
#main_courses_slider .owl-dots  #slide2.active p
{
	color: $product_basico;
}
#main_courses_slider .owl-dots  #slide3:hover p,
#main_courses_slider .owl-dots  #slide3.active p
{
	color: $product_graficas;
}
#main_courses_slider .owl-dots  #slide4:hover p,
#main_courses_slider .owl-dots  #slide4.active p
{
	color: $product_tablas;
}
#main_courses_slider .owl-dots  #slide5:hover p,
#main_courses_slider .owl-dots  #slide5.active p
{
	color: $product_macros;
}

#main_courses_slider .owl-controls .owl-nav
{
	
}
#main_courses_slider .owl-controls .owl-nav .owl-prev,
#main_courses_slider .owl-controls .owl-nav .owl-next
{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 240px;
}
#main_courses_slider .owl-controls .owl-nav .owl-prev
{
	left: 10px;
}
#main_courses_slider .owl-controls .owl-nav .owl-next
{
	right: 10px;	
}

//TAB 1
.slider_content_wrapper
{
	height: 345px;
	padding: 0 0 0 50px;
}
.container_slider h1,
.container_slider h3
{
	@extend %vertical-align;
}
.container_slider h1
{
	font-size: em(70px);
	line-height: 1;
	font-weight: 600;
	margin-top: 70px;
}
.container_slider h3
{
	top: 28%;
}
.container_slider img
{
	padding: 20px 0 0px 0px;
	max-width: 330px;
}
//TAB 2 - 5
.item
{
	padding-top: 10px;
	margin: 0 25px;
}
.item h2,
.item p.price
{
	font-size: em(70px);
	font-family: bebas, sans-serif;
}
.item p.price
{
	margin-top: 10px;
}
.item h2
{
	border-bottom: solid 1px #dedede;
}
.item h2 span
{
	font-size: em(8px);
}
.item p.duracion_curso,
.item p.video_curso
{
	margin-bottom: 5px;
	position: relative;
	padding-left: 30px;
}
.item .duracion_curso .time_icon,
.item .video_curso .video_icon
{
	position: absolute;
	left: 0;
	top: 1px;
}
//ICONOS
.item .duracion_curso.basico .time_icon
{
	background: url($basico_duracion) no-repeat;
	width: 22px;
	height: 22px;
	display: inline-block;
}
.item .video_curso.basico .video_icon
{
	background: url($basico_video) no-repeat;
	width: 22px;
	height: 22px;
	display: inline-block;
}
.item h3.downloads_label
{
	color: $black;
	border-bottom: solid 1px #333;
	width: 240px;
	margin-bottom: 0;
}
.item a.demo_video
{
	text-decoration: underline;
	margin-left: 30px;
}
.item a.downloads.basico
{
	color: #fff;
	display: block;
	width: 200px;
	text-align: left;
	margin-bottom: 10px;
	border-radius: 9px;
	padding: 9px 15px 9px 34px;
	font-size: 0.875em;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
	transition: all 1s ease;
	background: #4e76a5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlNzZhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTFkNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4e76a5 0%, #051d42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e76a5), color-stop(100%,#051d42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4e76a5 0%,#051d42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4e76a5 0%,#051d42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4e76a5 0%,#051d42 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4e76a5 0%,#051d42 100%); /* W3C */
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.item a.downloads.basico:hover
{
	background: #3a6ba3; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNmJhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzFiM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #3a6ba3 0%, #031b3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a6ba3), color-stop(100%,#031b3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3a6ba3 0%,#031b3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3a6ba3 0%,#031b3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3a6ba3 0%,#031b3f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3a6ba3 0%,#031b3f 100%); /* W3C */
}
.item a.downloads
{
	position: relative;
}
.item a.downloads span
{
	background: url($download_icon) no-repeat 0px 0px;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 9px;
	left: 11px;
}
.item img.product_img
{
	width: 206px;
}

//Boton Comprar
.item a.buy_btn_link
{
	width: 300px;
	height: 100px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
}
.item a.buy_btn_link .buy_btn
{
	background: url($buy_now_btn) no-repeat -6px -1px;
	width: 150px;
	height: 90px;
	padding: 20px;
	color: $buy_now_color;
	font-weight: bold;
	font-size: em(14px);
	margin-right: 37px;
}