@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

// Utilities
@import "_config";
@import "_base";
@import "_utilities";


/* ==================================================================
LAYOUT
=====================================================================*/
.container
{
	width: 1024px !important; //No responsive
}


/* ==================================================================
HEADER
=====================================================================*/
header ul {
	list-style: none;
}
header ul li {
	float: right;
}
header ul li a {
	color: $white;
	font-size: em(10px);
}
header .top_header {
	background: $color_secondary;
	height: 23px;
}
header .main_header {
	background: $color_primary;
	box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.43);
	margin-bottom: 10px;
	height: 100px;
}
.social_nav li {
	margin-left: 5px;
}
.social_nav li a{
	height: 20px;
	float: left;
	margin-left: 5px;
	background-size: 42px;
}
.facebook_small a {
	background: url($socialicons_small) no-repeat left center;
	width: 8px;
}
.twitter_small a {
	background: url($socialicons_small) no-repeat -9px center;
	width: 16px;
}
.linkedin_small a {
	background: url($socialicons_small) no-repeat center right;
	width: 16px;
}
.logo {
	background: url($brand_logo) no-repeat left center;
	width: 100px;
	height: 107px;
	display: inline-block;
	background-size: 100px;
}
.container_main_nav li {
	margin: 0 -1px;
	width: 90px;
}
.container_main_nav li a {
	text-decoration: none;
}
.container_main_nav li a:hover,
.container_main_nav li a:active
{
	color: $white;
}
.container_main_nav li .container_nav_txt {
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}
.container_main_nav li .container_nav_txt span{
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}
span.nav1,
span.nav2,
span.nav3,
span.nav4,
span.nav5,
span.nav6,
span.nav7,
span.nav8,
{
	width: 57px;
	height: 57px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-bottom: 3px;
	border: solid 2px $color_secondary;
	transition: all 0.5s ease;
}
span.nav1
{
	background: url($main_nav1) no-repeat center $white;
}
span.nav2
{
	background: url($main_nav2) no-repeat center $white;
}
span.nav3
{
	background: url($main_nav3) no-repeat center $white;
}
span.nav4
{
	background: url($main_nav4) no-repeat center $white;
}
span.nav5
{
	background: url($main_nav5) no-repeat center $white;
}
span.nav6
{
	background: url($main_nav6) no-repeat center $white;
}
span.nav7
{
	background: url($main_nav7) no-repeat center $white;
}
span.nav8
{
	background: url($main_nav8) no-repeat center $white;
}
li:hover span.nav1,
li.active span.nav1
{
	background: url($main_nav1_over) no-repeat center $white;
}
li:hover span.nav2,
li.active span.nav2
{
	background: url($main_nav2_over) no-repeat center $white;
}
li:hover span.nav3,
li.active span.nav3
{
	background: url($main_nav3_over) no-repeat center $white;
}
li:hover span.nav4,
li.active span.nav4
{
	background: url($main_nav4_over) no-repeat center $white;
}
li:hover span.nav5,
li.active span.nav5
{
	background: url($main_nav5_over) no-repeat center $white;
}
li:hover span.nav6,
li.active span.nav6
{
	background: url($main_nav6_over) no-repeat center $white;
}
li:hover span.nav7,
li.active span.nav7
{
	background: url($main_nav7_over) no-repeat center $white;
}
li:hover span.nav8,
li.active span.nav8
{
	background: url($main_nav8_over) no-repeat center $white;
}


/* ==================================================================
FOOTER
=====================================================================*/
footer {
	box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 120px;
	background: $color_primary;
	overflow: hidden;
	font-size: em(14px);
	color: $white;
}
footer .container
{
	padding: 15px;
}
footer a {
	color: $white;
	text-decoration: none;
}
footer ul
{
	list-style: none;
}
footer ul li {
	font-size: em(14px);
}
footer ul.container_info {
	height: 70px;
	padding-left: 0;
}
footer ul.container_bottom_nav
{
	padding-left: 0;
}
footer ul.container_bottom_nav li
{
	float: right;
	margin-left: 5px;
	font-weight: bold;
	font-size: em(13px);
}
footer ul.container_bottom_nav li a
{
	text-decoration: none;
}
footer .container_credits
{
	font-size: em(11px);
}
footer .container_credits a
{
	text-decoration: none;
}



/* ==================================================================
Index Styles
=====================================================================*/

.container_slider
{
	width: 100%;
	height: 530px;
	background: url($green_squares) repeat left top;
	color: $black;
}
.container_testimonials
{
	width: 100%;
	height: 200px;
	background: url($white_elegance) repeat left top;
	color: $black;
}

